{% extends "MadalynnMainBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?yui_css" output="js/tabs.js"
        '@MadalynnMainBundle/Resources/public/js/bootstrap-tabs.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block pageheader %}
    <h1>Liste des doctorants</h1>
{% endblock %}

{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#premiereannee">1<sup>ère</sup> année</a></li>
            <li><a data-toggle="tab" href="#deuxiemeannee">2<sup>ème</sup> année</a></li>
            <li><a data-toggle="tab" href="#troisiemeannee">3<sup>ème</sup> année</a></li>
            <li><a data-toggle="tab" href="#anciendoctorants">Anciens doctorants</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="premiereannee">
                {% for user in users | user_sort(1) %}
                    {% include 'MadalynnMainBundle:User:user.html.twig' with { 'user': user } %}
                {% endfor %}
            </div>
            <div class="tab-pane" id="deuxiemeannee">
                {% for user in users | user_sort(2) %}
                    {% include 'MadalynnMainBundle:User:user.html.twig' with { 'user': user } %}
                {% endfor %}
            </div>
            <div class="tab-pane" id="troisiemeannee">
                {% for user in users | user_sort(3) %}
                    {% include 'MadalynnMainBundle:User:user.html.twig' with { 'user': user } %}
                {% endfor %}
            </div>
            <div class="tab-pane" id="anciendoctorants">
                {% for user in users | user_sort(4) %}
                    {% include 'MadalynnMainBundle:User:user.html.twig' with { 'user': user } %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("div[rel=popover]")
            .popover({
                offset: 10,
                html: true
            })
            .click(function(e) {
                e.preventDefault()
            })
        })
    </script>
{% endblock %}