<div class="row well">

                    <div class="span6">
                        <strong>{{ article.title }}</strong>
                    </div>
                    <div class="span3">
                        Groupe : <strong>{{ article.author.firstname }} {{ article.author.lastname }}</strong>
                    </div>
                <div class="doctorant-these">
                    {{ article.content }}
                </div>
    
</div>